body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.btn-primary {
  background: #5b47ff;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 120px 20px;
  background: #eae7ff;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.feature-card {
  background: white;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}
